extends layout
block content
    hl = pageTitle 
    table 
        tr 
            th Custom Type
            th Custom Author
            th Custom Pages
        each record in crmRecords 
        tr 
            td = book_type
            td = book_author 
            td = book_pages 