doctype html 
html 
    head 
    meta (charset = 'utf-8')
    Title = title 
    link(rel = 'stylesheet', href = '/css/style.css')
body
    a(href = "/update-cob")
    hl = title 

     table 
        thead
            tr 
                th Custom Type
                th Custom Author
                th Custom Pages
        tbody        
            each record in books
                tr 
                    td = record.book_type
                    td = record.book_author 
                    td = record.book_pages 