doctype html 
html 
    head 
    title = title
    meta (charset = 'utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel = 'stylesheet', href = '/css/style.css')
    style 
      body {
      font-family: Arial, sans-serif;
      background-color: #f3f3f3;
      }
    a(href = "/update-cob")
    hl = title 

     table 
        thead
            tr 
                th Custom Type
                th Custom Author
                th Custom Pages
        tbody        
            each record in books
                tr 
                    td = record.book_type
                    td = record.book_author 
                    td = record.book_pages 